{% extends 'EspritBestdealBundle::layout.html.twig' %}


{% block content %}
<div class="main_content">
			<div class="container main">
			<div class="row">
				<div class="span9 checkout_area product-area blog single">
					<h2 class="title-wrap">
						{{produit.nom}}
					</h2>
					<div class="line"></div>
					<div id="Parks" class="just list">
						<div class="mix">
							<div class="meta name">
								<div class="img_wrapper loaded">
									<img alt="" src="{{ asset ('upload/'~produit.image)}}" onload="imgLoaded(this)">
								</div>
								
							</div>
										
							<div class="product_description">
									
								<div class="title">{{produit.nom}}</div>
								
								<div class="date">
									25, Decembre 2013 
								</div>
								
								<div class="content">
									<p>{{produit.description}}</p>
									
								</div>
							</div>
							
							
							<div class="product_description commentform">
								<div class="comments">
									<p>Comments</p>
									<ul>
                                                                            {% for comment in produit.comments %}
										<li>
											<div class="comment margin30">
												
												<div class="comm-text-wrap">
													<div class="comm-text">
														<p class="strong">{{comment.nom}}</p>
														<div class="bubble">
													<div class="bubble-bg"></div>
													<p>{{comment.commentaire}}</p>
													
													</div>
													</div>
												</div> 
											</div>
										</li>
										{% endfor %}
									</ul>
									<p>Leave a comment</p>
									<div id="commentform">
                                                                            
                                                                            {{ render(controller( 'EspritBestdealBundle:Default:sendcomment', { 'id': produit.id } )) }}
                                                                            
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{# <div class="span3 widget-area">
					<div class="right-sidebar">
						<div class="widget-info">
							<div class="widget-title">Categories</div>
							<div class="line"></div>
							<div class="widget-content">
								<ul>
									<li><a href="#">Dresses</a></li>
									<li><a href="#">Bags & Purses</a></li>
									<li><a href="#">Coats & Jackets</a></li>
									<li><a href="#">Accessories</a></li>
									<li><a href="#">Designer</a></li>
									<li><a href="#">Jeans</a></li>
									<li><a href="#">Jewellery & Watches</a></li>
								</ul>
							</div>
						</div>
						<div class="widget-info">
							<div class="widget-title">By Price</div>
							<div class="line"></div>
							<div class="widget-price">
								<ul>
									<li><a href="#">0 - $1,700.00</a></li>
									<li><a href="#">$20 - $2,800.00</a></li>
									<li><a href="#">$50 - $2,900.00</a></li>
									<li><a href="#">$75 - $3,990.00</a></li>
									<li><a href="#">$100 - $4,600.00</a></li>
								</ul>
							</div>
						</div>
						<div class="widget-info">
							<div class="widget-title">Color</div>
							<div class="line"></div>
							<div class="widget-price">
								<select class="select_color">
									<option value="red">Red</option>
									<option value="blue">Blue</option>
									<option value="green">Green</option>
									<option value="yellow">yellow</option>
								</select>
							</div>
						</div>
						<div class="widget-info">
							<div class="widget-title">Manufacturer</div>
							<div class="line"></div>
							<div class="widget-content">
								<form>
									<div><input type="checkbox" name="vehicle" value="Bike"><div class="brand_name">Adidas</div></div>
									<div><input type="checkbox" name="vehicle" value="Car"><div class="brand_name">Nike</div></div>
									<div><input type="checkbox" name="vehicle" value="Bike"><div class="brand_name">T-Shirt</div></div>
									<div><input type="checkbox" name="vehicle" value="Car"><div class="brand_name">Puma</div></div> 
									<div><input type="checkbox" name="vehicle" value="Bike"><div class="brand_name">Denim</div></div>
									<div><input type="checkbox" name="vehicle" value="Car"><div class="brand_name">Dedeman</div></div> 
									<div><input type="checkbox" name="vehicle" value="Car"><div class="brand_name">New wear</div></div>
								</form>
							</div>
						</div>
						<div class="widget-info">
							<div class="widget-title">View History</div>
							<div class="line"></div>
							<div class="widget-content">
								<div class="history-product-image">	
									<a href="#"><img src="images/product-list/htstory.png" alt="" /></a>
								</div>
								<div id="feature-post-content">
									<div>
										<button class="shop-now">Shop Now</button> 
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>#}			
			</div>	
			</div>
			
		</div>

{% endblock%}